/*style*/

/* html tags */

body {}

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 2rem;
    font-weight: bold;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

img {}

div {}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

li {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    list-style-type: none;
}

table {}

/* classes */

.company-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.company-working-time {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

.role-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

.role-working-time {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: gray;
}

.school-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.9rem;
    font-weight: bold;
}

.title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

.course-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
}

.course-time {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    color: gray;
}

.accomplishments-count {
    font-family: Helvetica, Arial, sans-serif;
    color: blue;
    font-size: 2rem
}

.accomplishments-item {
    font-family: Helvetica, Arial, sans-serif;
    color: blue;
    font-size: 0.8rem;
    font-weight: bold;
}

.accomplishments-description {}

.interests-item {}

.interests-item-name {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

/* ids */

#header {}

#background {}

#info {}

#current-info {}

#my-name {}

#title {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem
}

#location {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1rem;
    color: gray;
}

#last-info {}

#last-company {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

#last-education {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
}

#about {}

#experience {}

#education {}

#accomplishments {}

#interests {}