/*style*/

/* html tags */

html {
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin-left: 17rem;
    margin-right: 17rem;
    width: auto;
    background-color: #f3f2ef;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-size: 1.5rem;
    margin: 0;
    margin-bottom: 1rem;
}

img {}

div {}

p {}

li {
    list-style-type: none;
}

table {}

/* classes */

.company-name, .company-working-time, .role-name, .role-working-time .school-name, .title, .course-name, .course-time {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

.company-name {
    font-weight: bold;
}

.company-working-time {
    font-size: 0.9rem;
}

.role-name {
    font-weight: bold;
}

.role-working-time {
    color: gray;
    font-size: 0.85rem;
}

.school-name {
    font-weight: bold;
    font-size: 1rem;
    margin-top: 0;
}

.title {
    font-size: 0.85rem;
}

.course-name {}

.course-time {
    color: gray;
    margin-bottom: 1rem;
}

.accomplishments-count, .accomplishments-item {
    color: blue;
    margin: 0;
}

.accomplishments-count {
    font-size: 2rem;
}

.accomplishments-item {
    font-weight: bold;
    margin: 0;
}

.accomplishments-description {}

.interests-item {}

.interests-item-name {
    font-weight: bold;
}

.card {
    border-style: solid;
    background-color: white;
    border-color: lightgray;
    border-width: 0.025em;
    padding: 1em;
    margin: 1em;
    border-radius: 1rem;
}

/* ids */

#header {}

#background {}

#info {}

#current-info {}

#my-name {}

#title, #location, #last-company, #last-education, #links {
    padding: 0;
    margin: 0;
    margin-bottom: 0.5rem;
}

#location {
    color: gray;
}

#last-info {}

#last-company {
    font-weight: bold;
}

#last-education {
    font-weight: bold;
}

#links {
    float: right;
    margin-top: -8rem;
    margin-right: 10rem;
}

#about {}

#experience td:first-child {
    padding-right: 1.5rem;
    vertical-align: top;
}

#education td:first-child {
    padding-right: 1.5rem;
    vertical-align: top;
}

#accomplishments td:first-child {
    padding: 0;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    vertical-align: top;
}

#interests li {
    display: inline-block;
}
#interests li p {
    margin-top: 0.05rem;
    text-align: center;
}

#my-picture {
    border-radius: 100%;
    border-color: white;
    border-width: 0.5rem;
    border-style: solid;
    margin-top: -12rem;
    margin-left: 3rem;
}

#background {
    border-radius: 1rem 1rem 0 1rem;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    padding: 7rem;
}